{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>Blog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IDBlog</th>
                <td>{{ blog.IDBlog }}</td>
            </tr>
            <tr>
                <th>TitleBlog</th>
                <td>{{ blog.TitleBlog }}</td>
            </tr>
            <tr>
                <th>ContentBlog</th>
                <td>{{ blog.ContentBlog }}</td>
            </tr>
            <tr>
                <th>LikesBlog</th>
                <td>{{ blog.LikesBlog }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ blog.Categorie }}</td>
            </tr>
            <tr>
                <th>IDCountry</th>
                <td>{{ blog.IDCountry }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blog_index') }}">back to list</a>

    <a href="{{ path('app_blog_edit', {'IDBlog': blog.IDBlog}) }}">edit</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
