{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IDComment</th>
                <th>LikesComment</th>
                <th>ContentComment</th>
                <th>DateComment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.IDComment }}</td>
                <td>{{ comment.LikesComment }}</td>
                <td>{{ comment.ContentComment }}</td>
                <td>{{ comment.DateComment ? comment.DateComment|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_comments_show', {'IDComment': comment.IDComment}) }}">show</a>
                    <a href="{{ path('app_comments_edit', {'IDComment': comment.IDComment}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comments_new') }}">Create new</a>
{% endblock %}
