{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
    <h1>Comments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IDComment</th>
                <td>{{ comment.IDComment }}</td>
            </tr>
            <tr>
                <th>LikesComment</th>
                <td>{{ comment.LikesComment }}</td>
            </tr>
            <tr>
                <th>ContentComment</th>
                <td>{{ comment.ContentComment }}</td>
            </tr>
            <tr>
                <th>DateComment</th>
                <td>{{ comment.DateComment ? comment.DateComment|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comments_index') }}">back to list</a>

    <a href="{{ path('app_comments_edit', {'IDComment': comment.IDComment}) }}">edit</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
